{% extends'base.html.twig' %}
{% block title%}Campos a Fin{% endblock %}
{% block campo %}active{% endblock %}
{% block body %}
    </br>
    </br>
    </br>
    <h1>Campo afin</h1>
    <li>{{ CampoAfin.nombre}}</li>
{% endblock %}
